<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".css" allowed="true" />
                    <add fileExtension=".html" allowed="true" />
                </fileExtensions>
                <requestLimits>
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <urlCompression doStaticCompression="true" />
    </system.webServer>
</configuration>
